.dashboard {
  padding: 20px;
  background-color: #f9f9f9;
  min-height: 100vh;
}

h1 {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 1.8rem;
  color: #333;
}

h1 .dashboard-icon {
  font-size: 1.8rem;
  margin-right: 10px;
  color: #1890ff; 
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.ant-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.ant-card .ant-card-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #555;
}

.ant-card-bordered {
  border: none;
}

.ant-row {
  margin-top: 20px;
}

.stat-card h3 {
  margin-top: 10px;
  font-size: 1.2rem;
  color: #555;
}

.stat-card p {
  font-size: 1.5rem;
  font-weight: bold;
  color: #000;
}


.qr-card {
  text-align: center;
  margin-top: 20px;
}


.qr-code-img {
  max-width: 100%;  /* ป้องกันขนาดเกินขอบเขตของการ์ด */
  height: auto;     /* รักษาอัตราส่วนของภาพ */
  display: block;   /* จัดให้อยู่ตรงกลาง */
  margin: 0 auto;   /* จัดให้อยู่กึ่งกลางของการ์ด */
}

.chart-container {
  width: 100%;
  height: 300px; /* ปรับขนาดของกราฟให้เหมาะสม */
}