.alert-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: #f8f9fa; 
  font-family: 'Arial', sans-serif;
  text-align: center;
}

.header-icons {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 10px;
}

.icon-button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #6c757d;
}

h1 {
  font-size: 2.5rem;
  color: #343a40;
  margin-bottom: 10px;
}

p {
  font-size: 1.2rem;
  color: #6c757d;
  margin-bottom: 40px;
}

.alert-buttons {
  display: flex;
  gap: 80px; 
}

.alert-button {
  flex: 1;
  max-width: 500px; 
  padding: 120px 180px; 
  font-size: 3rem; 
  border: none;
  border-radius: 15px; 
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.alert-button.highlighted {
  transform: scale(1.2);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.1); 
  border: 3px solid transparent; 
}

.alert-button:first-child.highlighted {
  background-color: #b5dcb3; 
  color: #0b3d0b;
  border: 3px solid #343a40;
  box-shadow: 0 6px 15px rgba(181, 220, 179, 0.4), 0 0 10px rgba(181, 220, 179, 0.6); 
}

.alert-button:last-child.highlighted {
  background-color: #f4b8bb;
  color: #6e0e10;
  border: 3px solid #343a40;
  box-shadow: 0 6px 15px rgba(244, 184, 187, 0.4), 0 0 10px rgba(244, 184, 187, 0.6); 
}


.alert-button:first-child {
  background-color: #d4edda; 
  color: #155724;
}

.alert-button:first-child:hover {
  background-color: #c3e6cb;
}

.alert-button:last-child {
  background-color: #f8d7da; 
  color: #721c24;
}

.alert-button:last-child:hover {
  background-color: #f5c6cb;
}
