.signup_container {
    width: 100%;
    min-height: 100vh;
    background-color: #f5fffa;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../admins//assets//images//bg.jpg');
    background-size: cover;
    font-family: 'Nunito Sans', sans-serif;
}

.signup_form_container {
    width: 1100px;
    height: 700px;
    display: flex;
    border-radius: 10px;
    box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
}

.left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #01579b;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.left h1 {
    color: white;
    font-size: 35px;
    margin-bottom: 20px;
}

.right {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px;
}

.right h1 {
    margin-left: 60px; /* ปรับค่าตามต้องการ */
    font-size: 40px;
}

.form_container {
    width: 100%;
    max-width: 400px;
}

.user_type_container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.user_type_btn {
    background-color: #f0f0f0;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    margin: 0 10px;
    transition: background-color 0.3s, color 0.3s;
}

.user_type_btn.active {
    background-color: #01579b;
    color: white;
}

.green_btn {
    background-color: #01579b;
    color: white;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    font-size: 16px;
}

.white_btn {
    width: 180px;
    background-color: white;
    color: #01579b;
    border-radius: 20px;
    height: 40px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}