/* Container หลักของหน้า Login */
.login_container {
    width: 100%;
    min-height: 100vh;
    background-color: #f5fffa;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Nunito Sans', sans-serif;
    background-image: url('../../admins//assets//images//bg.jpg');
    background-size: cover;
}

/* ฟอร์มที่ใช้สำหรับ Login */
.login_form_container {
    width: 70%;
    height: 750px;
    display: flex;
    border-radius: 10px;
    box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%), 0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}

/* ส่วนที่เป็นฝั่งซ้าย */
.left {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    
}

/* ฟอนต์สำหรับหัวข้อ */
.form_container h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

/* โลโก้ของหน้า Login */
.logologin {
    width: 100px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* ส่วนที่เป็นฝั่งขวา */
.right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #01579b;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.right h1 {
    color: white;
    font-size: 40px;
}

/* ปุ่ม Login */
.green_btn {
    width: 100%;
    background-color: #01579b;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    height: 40px;
    margin-bottom: 30px;
}

/* ปุ่มผู้ใช้ประเภท */
.white_btn {
    width: 180px;
    background-color: white;
    color: #01579b;
    border-radius: 20px;
    height: 40px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

/* ฟังก์ชัน Forgot Password */
.forgot_password {
    float: right;
    color: #01579b;
    text-decoration: underline;
    cursor: pointer;
}

.ant-btn {
    margin-bottom: 20px; /* เพิ่มระยะห่างจากขอบล่าง */
  }
  a {
    padding-bottom: 20px; /* เพิ่มระยะห่างจากขอบล่าง */
  }
  
@media (max-width: 1260px) {
    .right h1 {
        font-size: 30px;
        margin-left: 0;

    }
}
  
/* ปรับการแสดงผลเมื่อขนาดหน้าจอลดลง */
@media (max-width: 1100px) {
    .login_form_container {
        width: 80%;
        height: auto;
        flex-direction: column;

    }

    .logologin {
        margin-top: 20px;
    }

    .right {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;

    }
    .left { 
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;

    }

    .right h1 {
        font-size: 30px;
        margin-left: 0;

    }

    /* ทำให้ getstart อยู่ด้านบน */
    .right {
        flex: 1;
        order: -1; /* ทำให้ .right อยู่ด้านบน */
    }
    
    .left {
        flex: 1;
    }
}

@media (max-width: 768px) {
    .login_form_container {
        width: 90%;
    }

    .left h1 {
        font-size: 28px;
    }

    .right h1 {
        font-size: 24px;
    }

    .form_container {
        max-width: 300px;
    }

    .user_type_btn {
        padding: 8px 16px;
        font-size: 12px;
    }

    .green_btn {
        font-size: 14px;
    }

    .forgot_password {
        font-size: 12px;
    }


    
}

@media (max-width: 480px) {
    .login_form_container {
        width: 100%;
    }

    .left h1 {
        font-size: 24px;
    }

    .right h1 {
        font-size: 20px;
    }

    .form_container {
        max-width: 100%;
    }

    .white_btn {
        width: 100%;
    }

    .green_btn {
        font-size: 12px;
    }

    .forgot_password {
        font-size: 10px;
    }

}